<!DOCTYPE html>
<html data-theme="light">
    {{!-- <-- Linking our files to this handebar --> --}}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Astro Journal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    {{> siteHeader}} 
    <main>
        {{{body}}}
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/scripts.js"></script>
    </body>
    </html>
