<!-- Content -->
    <section class="section">
        <div class="container">
            {{#each items}}
            <h1 class="title">{{this.title}}</h1>
            <h2 class="description">{{this.description}}</h2>
            {{/each}}
        </div>
    </section>


