<body>
    <!-- Content -->
    <section class="section">
        <div class="container">
            {{#each items}}
            <h1 class="title">{{this.title}}</h1>
            <h2 class="description">{{this.description}}</h2>
            {{/each}}
        </div>
    </section>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>