<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <svg xmlns="http://www.w3.org/2000/svg" width="1200pt" height="1200pt" version="1.1" viewBox="0 0 1200 1200">
                <g>
                 <path d="m348.84 67.641c-246.52 110.37-383.51 382.17-328.05 646.22 110.39 506.25 763.34 630.61 1051.7 200.53 61.102-93.164 94.547-204.3 94.148-315.73 0.11719-419.16-434.16-703.29-817.83-531.02zm808.27 495.07c-46.172 4.5703-92.062 10.734-137.77 17.953 5.1562-60.281-5.0156-121.59-30.469-177.59l-56.484-124.29c-7.8516-17.297-10.195-36.305-6.75-54.984l11.484-62.297c122.86 90.211 208.92 231.61 219.98 401.2zm-786.98-450.12c29.836-14.812 60.117-26.625 90.562-35.602-1.1953 11.297-2.3672 22.641-3.9609 33.023-3.1641 17.016-10.312 33.117-20.648 46.711-8.2734 10.734-18.234 19.758-29.766 26.672-3.3516 2.2969-6.9609 4.5469-10.219 7.0078-36.914 27.516-57.938 73.688-54.914 119.86 0.49219 9.9609 2.5312 20.578 5.1094 30.188 5.6719 20.883 18.586 64.477 24.703 85.852 9.2109 33.984-3.1641 71.602-29.883 94.148-66.773 58.617-132.09 119.67-194.09 183.35-19.031 19.641-37.875 39.492-56.156 59.953-79.617-253.01 38.508-531.94 279.26-651.16zm-264.98 691.03c-3.0234-7.5-5.8359-15.023-8.5078-22.57 97.266-64.008 188.23-136.95 277.12-211.92 6-5.1328 12.797-10.898 18.141-16.711 36.492-37.852 49.125-96.023 32.484-145.78-2.0156-6.2344-6-17.695-8.1328-23.977-5.9531-17.367-13.969-40.758-20.062-57.797-2.0625-6.0938-3.8438-12.82-4.6406-19.219-5.2266-33.867 9.7734-69.891 36.586-91.359 30.914-24.422 50.273-63.164 49.711-102.56-0.46875-13.125-1.9219-25.805-3.5156-38.555 132.3-35.391 266.81-18 381.14 38.672-80.719 71.906-157.17 148.05-232.45 225.49-32.602 34.617-27 90.562 11.156 118.73 3.6797 2.7891 10.43 7.7812 14.086 10.453 1.7344 1.2188 3.2812 2.8828 5.0156 4.125 2.9766 3.1406 5.8594 6.5391 7.7578 10.453 7.2422 13.477 6.1641 31.523-3.3281 43.688-3.8672 5.4609-9.8203 9.5391-15.281 13.359-96.188 67.617-195.28 139.43-289.29 210.23l-3.9609 3-1.9922 1.5c-9.4219 7.0312-17.133 16.688-21.141 27.773-7.3594 19.594-3.5156 42.633 10.125 58.406 2.8125 3.6328 6.6562 6.3984 9.75 9.6797 5.2969 6.0234 5.9062 16.336 0.77344 23.367-1.0781 1.4062-2.2031 2.8359-3.6797 3.9375l-1.1016 0.89062-0.28125 0.23438-0.51562 0.32812c-45.07 29.297-90.047 58.898-134.25 89.648-41.273-45.938-76.031-100.5-101.72-163.52zm110.06 172.55c47.625-22.172 94.664-45.539 141.49-69.094 6.1875-3.0938 11.859-7.2656 16.547-12.398 16.898-18.07 19.383-47.836 5.0156-68.812-2.3672-3.5625-5.3906-7.0312-8.4375-10.078-4.6875-4.9922-5.8359-12.867-2.8125-18.914 1.2422-2.4609 3.0938-4.3828 5.3438-5.8594l32.273-21.117 33.234-21.82c79.922-52.969 163.9-110.11 242.2-164.93 9.2812-6.4453 17.953-14.297 24.586-23.531 30.656-41.18 23.906-100.31-15.703-133.1l-5.4375-4.3125-1.3594-1.0547c-1.875-1.2891-5.2266-3.6562-7.1484-4.9453-1.5-0.96094-8.7422-6.0469-10.008-6.9609-8.2969-6.6328-11.695-18.328-8.4141-28.547 1.0078-3.1641 2.5312-6.1875 4.7109-8.9297 38.695-45.258 76.875-91.172 114.16-137.65 30.75-38.414 61.148-77.156 90.258-117.07 21.047 10.992 41.367 23.32 60.82 36.914l-12.492 67.711c-3.8906 21.047-1.2656 42.469 7.5938 61.945l56.484 124.29c25.008 55.055 34.781 115.41 29.203 174.66-52.547 8.5078-104.88 18.305-157.17 28.594-5.0391 1.1016-11.93 2.2734-16.875 3.5859-56.18 12.586-97.406 65.273-97.992 122.67-0.79688 30.188 10.125 60.445 28.945 83.625 1.6641 2.3906 3.6797 4.9688 5.3203 7.3594 6.2344 9.9844 10.594 21.258 11.438 33.141 0.375 4.2422 0.375 8.3906 0.09375 12.469-0.375 0.14063-0.72656 0.28125-1.1016 0.39844l-318.77 113.09c-15.422 5.4609-29.414 13.805-41.578 24.75l-48.398 43.57c-2.4141 2.1562-2.6016 5.8594-0.44531 8.2734 1.1484 1.2891 2.7422 1.9453 4.3594 1.9453 1.4062 0 2.7891-0.49219 3.9141-1.5l48.398-43.57c11.016-9.9141 23.695-17.461 37.664-22.406l313.83-111.33c-4.9453 19.336-17.531 35.789-35.508 47.133-89.531 62.766-178.08 126.84-263.18 195.63-98.836-24.234-191.62-75.867-265.05-153.82zm744.68-248.86c-24.844-7.8281-53.602 3.5156-66.469 26.18-8.4375 13.898-10.617 32.086-5.3672 47.648 0.91406 2.7891 1.9453 5.5312 3 8.2734-16.781 14.625-34.945 27.68-54.328 38.859-2.3438-17.672-8.3438-34.992-18.094-50.766-3-4.875-7.4531-10.477-10.805-15.211-30.234-40.664-9.0234-100.71 39.398-114.59 51.094-13.664 102.54-27.82 153.61-43.148-4.5234 20.484-10.922 40.641-19.219 60.164-6.2578 14.766-13.547 28.969-21.727 42.586zm-461.23 406.83c88.172-46.195 173.86-96.562 258.98-148.01 5.2031-3.2578 16.172-9.7734 21.258-13.102 2.0859-1.5469 8.4844-5.7891 10.594-7.4297 2.8125-2.3672 7.0547-6.1406 9.7969-8.5547 3.6094-3.75 7.2656-7.5234 10.547-11.555 19.5-24.398 28.875-54.469 27.914-84.375 20.625-11.484 40.031-24.961 57.891-40.195 17.906 44.25 38.578 87.234 63.562 128.06 9.4922 15.398 19.43 30.586 31.008 45.164-135.09 130.9-321.07 175.69-491.55 139.99zm500.98-149.34c-7.8516-69.633-29.883-136.2-55.758-200.91-0.09375-0.23438-0.28125-0.67969-0.21094-0.58594 0.023438-0.046876 0.023438-0.11719 0-0.14063 0-0.09375-0.21094-0.16406-0.11719-0.21094 0.046875-0.046875-0.070313-0.070313-0.11719-0.09375 0.046874-0.023437 0.046874-0.023437-0.046876-0.046875-0.32812-0.82031 0.63281-2.3438 1.5-2.7188 0.1875 0.046875 0.44531-0.023438 0.63281-0.11719 0.09375 0.023438 0.98438 0.23438 1.1016 0.25781 56.531 12.305 113.48 22.43 171.56 24.539-11.227 27.797-24.727 54.68-40.43 80.273-23.133 37.312-49.406 70.547-78.117 99.75zm121.99-188.79c-16.688-9.5859-33.773-17.789-50.953-25.617-32.555-14.719-65.742-27.609-99.422-39.234 7.9219-13.406 15.023-27.375 21.164-41.836 9.4453-22.242 16.5-45.234 21.211-68.625 48.586-14.789 96.797-30.703 144.02-48.375 0.42187 8.7188 0.65625 17.508 0.67969 26.344-0.023437 67.336-12.586 134.55-36.703 197.34z"/>
                 <path d="m531.66 256.73c8.8594 5.1094 18.68 7.5234 28.781 7.5234 27.445 0 56.883-17.906 74.367-48.188 23.93-41.438 16.594-90.633-16.359-109.64-16.195-9.3516-35.953-10.125-55.641-2.1562-19.172 7.7578-36.047 22.969-47.508 42.82-23.906 41.438-16.57 90.633 16.359 109.64zm-6.2109-103.78c10.148-17.602 24.984-31.031 41.742-37.805 7.5703-3.0703 15.094-4.5938 22.312-4.5938 8.2734 0 16.125 2.0156 23.062 6.0234 27.352 15.797 32.766 57.797 12.07 93.633-20.695 35.836-59.789 52.148-87.141 36.375-27.328-15.773-32.742-57.797-12.047-93.633z"/>
                 <path d="m223.55 874.36c24.188 0 50.086-15.727 65.484-42.375 10.078-17.438 14.227-36.961 11.719-54.984-2.6016-18.562-11.906-33.328-26.25-41.602-29.086-16.781-69.867-0.77344-90.914 35.719-21.047 36.469-14.531 79.805 14.531 96.586 7.8281 4.5234 16.523 6.6562 25.43 6.6562zm-29.812-97.406c13.219-22.898 35.133-36.586 55.148-36.586 6.9609 0 13.711 1.6641 19.758 5.1562 11.133 6.4219 18.398 18.164 20.484 33.07 2.1562 15.445-1.4766 32.32-10.242 47.508-17.836 30.891-51.422 44.977-74.906 31.43-23.484-13.547-28.078-49.688-10.242-80.578z"/>
                 <path d="m879.73 949.34c-22.805-13.172-54.703-0.72656-71.109 27.68-7.8281 13.547-11.039 28.711-9.0938 42.75 2.0391 14.555 9.375 26.18 20.648 32.672 6.1406 3.5391 12.984 5.3203 20.156 5.3203 6.0234 0 12.258-1.2656 18.469-3.7734 13.125-5.3203 24.656-15.703 32.484-29.25 16.43-28.406 11.25-62.227-11.555-75.398zm1.4297 69.562c-6.5156 11.297-16.008 19.898-26.719 24.234-10.219 4.125-20.273 3.8438-28.383-0.84375-8.0859-4.6641-13.383-13.242-14.906-24.164-1.5938-11.438 1.1016-23.977 7.6172-35.25 9.8203-16.992 25.992-27.141 40.734-27.141 5.0625 0 9.9609 1.1953 14.367 3.75 17.203 9.9375 20.461 36.586 7.2891 59.414z"/>
                 <path d="m1114.3 618.63c-22.805-13.172-54.703-0.72656-71.109 27.703-7.8281 13.547-11.039 28.711-9.0938 42.75 2.0391 14.555 9.375 26.18 20.648 32.672 6.1406 3.5391 12.984 5.3203 20.156 5.3203 6.0234 0 12.258-1.2656 18.469-3.7734 13.125-5.3203 24.656-15.703 32.484-29.25 16.43-28.406 11.227-62.25-11.555-75.422zm1.4297 69.586c-6.5156 11.297-16.008 19.898-26.719 24.234-10.219 4.125-20.297 3.8438-28.383-0.84375-8.0859-4.6641-13.383-13.242-14.906-24.164-1.5938-11.438 1.1016-23.977 7.6172-35.25 9.8203-16.992 25.992-27.141 40.734-27.141 5.0625 0 9.9609 1.1953 14.367 3.75 17.203 9.9141 20.461 36.562 7.2891 59.414z"/>
                 <path d="m520.57 550.24c6.1875 3.5625 13.031 5.25 20.039 5.25 18.891 0 39.094-12.211 51.07-32.953 7.8281-13.547 11.039-28.711 9.0938-42.75-2.0391-14.555-9.375-26.18-20.648-32.672-22.805-13.148-54.703-0.75-71.109 27.68-16.43 28.453-11.25 62.273 11.555 75.445zm-1.4297-69.562c9.8203-16.992 25.992-27.141 40.734-27.141 5.0625 0 9.9609 1.1953 14.367 3.75 8.0859 4.6641 13.383 13.242 14.906 24.164 1.5938 11.438-1.1016 23.977-7.6172 35.25-13.172 22.828-37.898 33.328-55.102 23.391-17.203-9.9375-20.461-36.586-7.2891-59.414z"/>
                 <path d="m540 919.01c43.992 17.156 86.156-16.242 106.76-52.359 14.508-25.547 22.031-58.172 10.594-87.211-8.4844-22.547-30.703-38.883-55.359-40.875-63.211-5.3203-115.8 58.219-106.97 119.65 3.2578 25.453 20.297 51.445 44.977 60.797zm99.516-56.531c-8.7656 15.07-23.203 27.633-39.914 32.297-17.016 4.3828-30.68 1.125-39.258-7.7812 6.5391-53.625 39.891-65.273 49.992-67.57 16.383-3.7266 32.062 1.125 39.281 12.07-1.1953 11.133-4.7812 22.078-10.102 30.984zm-1.9688-74.766c6.8438 7.3594 10.617 16.969 11.93 27.234-6.0703-4.2656-13.477-7.0312-21.539-8.0391zm-9.3516-7.4531-13.289 26.578c-2.3672 0.25781-4.7578 0.63281-7.1484 1.1719-6.3516 1.4531-12.305 3.7734-17.836 6.8672l19.289-38.578c5.7656-0.5625 11.648 0.25781 17.273 2.9766 0.58594 0.30469 1.125 0.65625 1.7109 0.98437zm-77.648 73.43c1.2891-24.727 14.578-52.359 35.086-67.594 2.5547-1.9219 5.2734-3.6328 8.1094-5.0859l-28.688 57.398s0 0.023438-0.023438 0.023438c-5.9297 8.9766-10.5 19.594-13.453 31.57-1.1016-4.8984-1.4766-10.359-1.0312-16.312z"/>
                 <path d="m822.54 535.88c20.695 15.141 51.258 20.648 75.047 9.1875 42.703-20.109 47.508-73.664 35.508-113.48-8.5312-28.102-27.023-56.016-55.969-67.711-22.172-9.3516-49.336-4.5-67.758 12.047-47.367 42.211-37.5 124.1 13.172 159.96zm34.898-43.406c-0.86719-0.91406-1.7109-1.875-2.5547-2.8359l8.9531-17.93c1.2656 10.266 4.9219 21.891 12.586 34.406-6.4922-2.4844-12.961-7.0312-18.984-13.641zm43.805-95.531c2.6719 2.2266 5.1562 4.6641 7.4531 7.2891-4.3125 0.35156-8.6016 1.4766-12.75 3.2812zm19.781 88.219c-7.6875 13.875-18.047 21.445-29.086 22.875-24.047-32.133-16.828-58.055-11.883-68.766l1.2422-2.5078c0.070313-0.14062 0.14062-0.28125 0.21094-0.39844 7.8984-14.227 21.609-22.383 34.102-20.273 0.5625 0.09375 1.1016 0.070312 1.6406 0.023437 3.3047 5.625 5.9062 11.672 7.7812 17.836 4.9453 16.758 4.125 35.883-4.0078 51.211zm-29.531-94.898-20.578 41.156c-0.42187 0.77344-0.86719 1.6641-1.3359 2.6484l-22.5 44.977c-4.1953-6.6094-7.6641-13.922-10.195-21.516l36.656-73.312c6.1641 0.75 12.234 2.9062 17.953 6.0469zm-58.922 30.211c1.6641-14.602 8.7891-28.898 23.156-34.312 1.4531-0.53906 2.9297-0.96094 4.4062-1.3125l-27.398 54.773c-0.82031-6.4219-0.9375-12.891-0.16406-19.148z"/>
                 <path d="m150.82 520.41c29.508 36.844 82.734 29.016 118.64 8.0391 25.336-14.859 48.164-39.352 52.781-70.219 3.9375-23.766-7.1484-49.031-27.516-63.07-52.078-36.211-129.4-7.5-152.46 50.133-9.9141 23.625-8.1328 54.656 8.5547 75.117zm114.45 0.79688c-15.117 8.6719-33.914 12.328-50.719 8.0156-22.406-6.2109-33.047-21.164-30.727-38.695 36-39.867 70.453-30.844 80.32-27.047 16.523 6.375 27.352 19.969 26.93 33.797v0.046874c-6.5859 9.7266-15.68 17.953-25.805 23.883zm-0.96094-93.516c6.6094 0.070312 13.125 1.3594 18.867 4.1953l-11.109 22.219c-1.1953-0.5625-2.4375-1.0781-3.6797-1.5703-4.7812-1.8516-9.6328-3.1172-14.555-3.8672zm35.016 52.781c-3.4688-7.8281-9.3984-14.906-17.109-20.461l10.5-21c1.0078 1.1016 1.9922 2.2969 2.8828 3.5859 7.5 11.18 7.7812 24.891 3.7266 37.875zm-48.844-51.305-9.3984 18.773c-15.094 0.53906-30.352 5.9531-44.672 15.844 12.844-16.664 33.07-30.258 54.07-34.617z"/>
                </g>
               </svg>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Documentation
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item is-selected">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- Large Section -->
      <section class="section is-large">
        <div class="columns is-centered">
            <h1 class="title">Astro Journal</h1>
            </div>
        <div class="columns is-centered">
            <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like
            the one you're currently reading.
            </h2>
            </div>
        <div class="columns is-centered">
        <svg xmlns="http://www.w3.org/2000/svg" width="512pt" height="512pt" version="1.1" viewBox="0 0 512 512">
            <g>
             <path d="m148.84 28.859c-105.18 47.09-163.63 163.06-139.97 275.72 47.102 216 325.69 269.06 448.74 85.559 26.07-39.75 40.34-87.172 40.172-134.71 0.046875-178.84-185.24-300.07-348.94-226.57zm344.86 211.23c-19.699 1.9492-39.281 4.5781-58.781 7.6602 2.1992-25.719-2.1406-51.879-13-75.77l-24.102-53.031c-3.3516-7.3789-4.3516-15.488-2.8789-23.461l4.8984-26.578c52.426 38.488 89.145 98.82 93.863 171.18zm-335.78-192.05c12.73-6.3203 25.648-11.359 38.641-15.191-0.51172 4.8203-1.0117 9.6602-1.6914 14.09-1.3516 7.2617-4.3984 14.129-8.8086 19.93-3.5312 4.5781-7.7812 8.4297-12.699 11.379-1.4297 0.98047-2.9688 1.9414-4.3594 2.9883-15.75 11.738-24.719 31.441-23.43 51.141 0.21094 4.25 1.0781 8.7812 2.1797 12.879 2.4219 8.9102 7.9297 27.512 10.539 36.629 3.9297 14.5-1.3516 30.551-12.75 40.172-28.488 25.012-56.359 51.059-82.809 78.23-8.1211 8.3789-16.16 16.852-23.961 25.578-33.973-107.94 16.426-226.95 119.15-277.82zm-113.06 294.84c-1.2891-3.1992-2.4883-6.4102-3.6289-9.6289 41.5-27.309 80.309-58.43 118.24-90.422 2.5586-2.1914 5.4609-4.6484 7.7383-7.1289 15.57-16.148 20.961-40.969 13.859-62.199-0.85938-2.6602-2.5586-7.5508-3.4688-10.23-2.5391-7.4102-5.9609-17.391-8.5586-24.66-0.87891-2.6016-1.6406-5.4688-1.9805-8.1992-2.2305-14.449 4.1719-29.82 15.609-38.98 13.191-10.422 21.449-26.949 21.211-43.762-0.19922-5.6016-0.82031-11.012-1.5-16.449 56.449-15.102 113.84-7.6797 162.62 16.5-34.441 30.68-67.059 63.172-99.18 96.211-13.91 14.77-11.52 38.641 4.7617 50.66 1.5703 1.1914 4.4492 3.3203 6.0117 4.4609 0.73828 0.51953 1.3984 1.2305 2.1406 1.7617 1.2695 1.3398 2.5 2.7891 3.3086 4.4609 3.0898 5.75 2.6289 13.449-1.4219 18.641-1.6484 2.3281-4.1914 4.0703-6.5195 5.6992-41.039 28.852-83.32 59.488-123.43 89.699l-1.6914 1.2812-0.85156 0.64062c-4.0195 3-7.3086 7.1211-9.0195 11.852-3.1406 8.3594-1.5 18.191 4.3203 24.922 1.1992 1.5508 2.8398 2.7305 4.1602 4.1289 2.2617 2.5703 2.5195 6.9688 0.32812 9.9688-0.46094 0.60156-0.94141 1.2109-1.5703 1.6797l-0.46875 0.37891-0.12109 0.10156-0.21875 0.14062c-19.23 12.5-38.422 25.129-57.281 38.25-17.609-19.605-32.438-42.887-43.398-69.777zm46.961 73.621c20.32-9.4609 40.391-19.43 60.371-29.48 2.6406-1.3203 5.0586-3.1016 7.0586-5.2891 7.2109-7.7109 8.2695-20.41 2.1406-29.359-1.0117-1.5195-2.3008-3-3.6016-4.3008-2-2.1289-2.4883-5.4883-1.1992-8.0703 0.53125-1.0508 1.3203-1.8711 2.2812-2.5l13.77-9.0117 14.18-9.3086c34.102-22.602 69.93-46.98 103.34-70.371 3.9609-2.75 7.6602-6.1016 10.488-10.039 13.078-17.57 10.199-42.801-6.6992-56.789l-2.3203-1.8398-0.57812-0.44922c-0.80078-0.55078-2.2305-1.5586-3.0508-2.1094-0.64062-0.41016-3.7305-2.5781-4.2695-2.9688-3.5391-2.8281-4.9883-7.8203-3.5898-12.18 0.42969-1.3516 1.0781-2.6406 2.0117-3.8086 16.512-19.309 32.801-38.898 48.711-58.73 13.121-16.391 26.09-32.922 38.512-49.949 8.9805 4.6914 17.648 9.9492 25.949 15.75l-5.3281 28.891c-1.6602 8.9805-0.53906 18.121 3.2383 26.43l24.102 53.031c10.672 23.488 14.84 49.238 12.461 74.52-22.422 3.6289-44.75 7.8086-67.059 12.199-2.1484 0.46875-5.0898 0.96875-7.1992 1.5312-23.969 5.3711-41.559 27.852-41.809 52.34-0.33984 12.879 4.3203 25.789 12.352 35.68 0.71094 1.0195 1.5703 2.1211 2.2695 3.1406 2.6602 4.2617 4.5195 9.0703 4.8789 14.141 0.16016 1.8086 0.16016 3.5781 0.039062 5.3203-0.16016 0.058593-0.30859 0.12109-0.46875 0.17188l-136.01 48.25c-6.5781 2.3281-12.551 5.8906-17.738 10.559l-20.648 18.59c-1.0312 0.92188-1.1094 2.5-0.19141 3.5312 0.48828 0.55078 1.1719 0.82812 1.8594 0.82812 0.60156 0 1.1914-0.21094 1.6719-0.64062l20.648-18.59c4.6992-4.2305 10.109-7.4492 16.07-9.5586l133.9-47.5c-2.1094 8.25-7.4805 15.27-15.148 20.109-38.199 26.781-75.98 54.121-112.29 83.469-42.184-10.348-81.773-32.375-113.1-65.637zm317.73-106.18c-10.602-3.3398-22.871 1.5-28.359 11.172-3.6016 5.9297-4.5312 13.691-2.2891 20.328 0.39062 1.1914 0.82812 2.3594 1.2812 3.5312-7.1602 6.2383-14.91 11.809-23.18 16.578-1-7.5391-3.5586-14.93-7.7188-21.66-1.2812-2.0781-3.1797-4.4688-4.6094-6.4883-12.898-17.352-3.8516-42.969 16.809-48.891 21.801-5.8281 43.75-11.871 65.539-18.41-1.9297 8.7383-4.6602 17.34-8.1992 25.672-2.6758 6.2969-5.7852 12.359-9.2734 18.168zm-196.79 173.58c37.621-19.711 74.18-41.199 110.5-63.148 2.2188-1.3906 6.8984-4.1719 9.0703-5.5898 0.89062-0.66016 3.6211-2.4688 4.5195-3.1719 1.1992-1.0117 3.0117-2.6211 4.1797-3.6484 1.5391-1.6016 3.1016-3.2109 4.5-4.9297 8.3203-10.41 12.32-23.238 11.91-36 8.8008-4.8984 17.078-10.648 24.699-17.148 7.6406 18.879 16.461 37.219 27.121 54.641 4.0508 6.5703 8.2891 13.051 13.23 19.27-57.641 55.848-136.99 74.957-209.73 59.727zm213.75-63.719c-3.3516-29.711-12.75-58.109-23.789-85.719-0.039062-0.10156-0.12109-0.28906-0.089844-0.25 0.011719-0.019532 0.011719-0.050782 0-0.058594 0-0.039063-0.089843-0.070313-0.050781-0.089844 0.019531-0.019531-0.03125-0.03125-0.050781-0.039062 0.019531-0.011719 0.019531-0.011719-0.019531-0.019532-0.14062-0.35156 0.26953-1 0.64062-1.1602 0.078125 0.019531 0.19141-0.011719 0.26953-0.050781 0.039063 0.011719 0.42188 0.10156 0.46875 0.10938 24.121 5.25 48.422 9.5703 73.199 10.469-4.7891 11.859-10.551 23.328-17.25 34.25-9.8711 15.918-21.078 30.098-33.328 42.559zm52.047-80.551c-7.1211-4.0898-14.41-7.5898-21.738-10.93-13.891-6.2812-28.051-11.781-42.422-16.738 3.3789-5.7188 6.4102-11.68 9.0312-17.852 4.0312-9.4883 7.0391-19.301 9.0508-29.281 20.73-6.3086 41.301-13.102 61.449-20.641 0.17969 3.7188 0.28125 7.4688 0.28906 11.238-0.007812 28.734-5.3672 57.414-15.66 84.203z"/>
             <path d="m226.84 109.54c3.7812 2.1797 7.9688 3.2109 12.281 3.2109 11.711 0 24.27-7.6406 31.73-20.559 10.211-17.68 7.0781-38.672-6.9805-46.781-6.9102-3.9883-15.34-4.3203-23.738-0.92188-8.1797 3.3086-15.379 9.8008-20.27 18.27-10.203 17.684-7.0742 38.672 6.9766 46.781zm-2.6484-44.277c4.3281-7.5117 10.66-13.238 17.809-16.129 3.2305-1.3086 6.4414-1.9609 9.5195-1.9609 3.5312 0 6.8789 0.85938 9.8398 2.5703 11.672 6.7383 13.98 24.66 5.1484 39.949-8.8281 15.289-25.512 22.25-37.18 15.52-11.656-6.7305-13.969-24.66-5.1367-39.949z"/>
             <path d="m95.379 373.06c10.32 0 21.371-6.7109 27.941-18.078 4.3008-7.4414 6.0703-15.77 5-23.461-1.1094-7.9219-5.0781-14.219-11.199-17.75-12.41-7.1602-29.809-0.32812-38.789 15.238-8.9805 15.559-6.1992 34.051 6.1992 41.211 3.3398 1.9297 7.0469 2.8398 10.848 2.8398zm-12.719-41.559c5.6406-9.7695 14.988-15.609 23.531-15.609 2.9688 0 5.8516 0.71094 8.4297 2.1992 4.75 2.7383 7.8516 7.75 8.7383 14.109 0.92188 6.5898-0.62891 13.789-4.3711 20.27-7.6094 13.18-21.941 19.191-31.961 13.41-10.016-5.7773-11.977-21.199-4.3672-34.379z"/>
             <path d="m375.35 405.05c-9.7305-5.6211-23.34-0.30859-30.34 11.809-3.3398 5.7812-4.7109 12.25-3.8789 18.238 0.87109 6.2109 4 11.172 8.8086 13.941 2.6211 1.5117 5.5391 2.2695 8.6016 2.2695 2.5703 0 5.2305-0.53906 7.8789-1.6094 5.6016-2.2695 10.52-6.6992 13.859-12.48 7.0078-12.117 4.7969-26.547-4.9297-32.168zm0.60938 29.68c-2.7812 4.8203-6.8281 8.4883-11.398 10.34-4.3594 1.7617-8.6484 1.6406-12.109-0.35937-3.4492-1.9883-5.7109-5.6484-6.3594-10.309-0.67969-4.8789 0.46875-10.23 3.25-15.039 4.1914-7.25 11.09-11.578 17.379-11.578 2.1602 0 4.25 0.51172 6.1289 1.6016 7.3398 4.2344 8.7266 15.602 3.1094 25.344z"/>
             <path d="m475.44 263.95c-9.7305-5.6211-23.34-0.30859-30.34 11.82-3.3398 5.7812-4.7109 12.25-3.8789 18.238 0.87109 6.2109 4 11.172 8.8086 13.941 2.6211 1.5117 5.5391 2.2695 8.6016 2.2695 2.5703 0 5.2305-0.53906 7.8789-1.6094 5.6016-2.2695 10.52-6.6992 13.859-12.48 7.0078-12.117 4.7891-26.559-4.9297-32.18zm0.60938 29.691c-2.7812 4.8203-6.8281 8.4883-11.398 10.34-4.3594 1.7617-8.6602 1.6406-12.109-0.35938-3.4492-1.9883-5.7109-5.6484-6.3594-10.309-0.67969-4.8789 0.46875-10.23 3.25-15.039 4.1914-7.25 11.09-11.578 17.379-11.578 2.1602 0 4.25 0.51172 6.1289 1.6016 7.3398 4.2227 8.7305 15.594 3.1094 25.344z"/>
             <path d="m222.11 234.77c2.6406 1.5195 5.5586 2.2383 8.5508 2.2383 8.0586 0 16.68-5.2109 21.789-14.059 3.3398-5.7812 4.7109-12.25 3.8789-18.238-0.87109-6.2109-4-11.172-8.8086-13.941-9.7305-5.6094-23.34-0.32031-30.34 11.809-7.0078 12.141-4.8008 26.57 4.9297 32.191zm-0.60938-29.68c4.1914-7.25 11.09-11.578 17.379-11.578 2.1602 0 4.25 0.51172 6.1289 1.6016 3.4492 1.9883 5.7109 5.6484 6.3594 10.309 0.67969 4.8789-0.46875 10.23-3.25 15.039-5.6211 9.7383-16.172 14.219-23.512 9.9805-7.3359-4.2422-8.7266-15.613-3.1055-25.352z"/>
             <path d="m230.4 392.11c18.77 7.3203 36.762-6.9297 45.551-22.34 6.1914-10.898 9.3984-24.82 4.5195-37.211-3.6211-9.6211-13.102-16.59-23.621-17.441-26.969-2.2695-49.41 24.84-45.641 51.051 1.3945 10.863 8.6641 21.953 19.191 25.941zm42.461-24.121c-3.7383 6.4297-9.8984 11.789-17.031 13.781-7.2617 1.8711-13.09 0.48047-16.75-3.3203 2.7891-22.879 17.02-27.852 21.328-28.828 6.9883-1.5898 13.68 0.48047 16.762 5.1484-0.50781 4.75-2.0391 9.4219-4.3086 13.219zm-0.83984-31.898c2.9219 3.1406 4.5312 7.2383 5.0898 11.621-2.5898-1.8203-5.75-3-9.1914-3.4297zm-3.9883-3.1797-5.6719 11.34c-1.0117 0.10938-2.0312 0.26953-3.0508 0.5-2.7109 0.62109-5.25 1.6094-7.6094 2.9297l8.2305-16.461c2.4609-0.23828 4.9688 0.10938 7.3711 1.2695 0.25 0.13281 0.48047 0.28125 0.73047 0.42188zm-33.133 31.328c0.55078-10.551 6.2188-22.34 14.969-28.84 1.0898-0.82031 2.25-1.5508 3.4609-2.1719l-12.238 24.488s0 0.011718-0.011719 0.011718c-2.5312 3.8281-4.4805 8.3594-5.7383 13.469-0.46875-2.0859-0.62891-4.4141-0.44141-6.957z"/>
             <path d="m350.95 228.64c8.8281 6.4609 21.871 8.8086 32.02 3.9219 18.219-8.5781 20.27-31.43 15.148-48.422-3.6406-11.988-11.531-23.898-23.879-28.891-9.4609-3.9883-21.051-1.9219-28.91 5.1406-20.207 18.008-16 52.949 5.6211 68.25zm14.891-18.52c-0.37109-0.39062-0.73047-0.80078-1.0898-1.2109l3.8203-7.6484c0.53906 4.3789 2.1016 9.3398 5.3711 14.68-2.7695-1.0625-5.5312-3-8.1016-5.8203zm18.691-40.762c1.1406 0.94922 2.1992 1.9883 3.1797 3.1094-1.8398 0.14844-3.6719 0.62891-5.4414 1.3984zm8.4375 37.641c-3.2812 5.9219-7.6992 9.1484-12.41 9.7617-10.262-13.711-7.1797-24.77-5.0703-29.34l0.53125-1.0703c0.03125-0.058593 0.058594-0.12109 0.089844-0.17187 3.3711-6.0703 9.2188-9.5508 14.551-8.6484 0.23828 0.039062 0.46875 0.03125 0.69922 0.011719 1.4102 2.3984 2.5195 4.9805 3.3203 7.6094 2.1094 7.1484 1.7617 15.309-1.7109 21.848zm-12.598-40.488-8.7812 17.559c-0.17969 0.32813-0.37109 0.71094-0.57031 1.1289l-9.6016 19.191c-1.7891-2.8203-3.2695-5.9414-4.3516-9.1797l15.641-31.281c2.6328 0.32031 5.2227 1.2422 7.6641 2.582zm-25.141 12.887c0.71094-6.2305 3.75-12.328 9.8789-14.641 0.62109-0.23047 1.25-0.41016 1.8789-0.55859l-11.691 23.371c-0.34766-2.7422-0.39844-5.5-0.066406-8.1719z"/>
             <path d="m64.352 222.04c12.59 15.719 35.301 12.379 50.621 3.4297 10.809-6.3398 20.551-16.789 22.52-29.961 1.6797-10.141-3.0508-20.922-11.738-26.91-22.219-15.449-55.211-3.1992-65.051 21.391-4.2344 10.082-3.4727 23.32 3.6484 32.051zm48.828 0.33984c-6.4492 3.6992-14.469 5.2617-21.641 3.4219-9.5586-2.6484-14.102-9.0312-13.109-16.512 15.359-17.012 30.059-13.16 34.27-11.539 7.0508 2.7188 11.672 8.5195 11.488 14.422v0.019531c-2.8086 4.1484-6.6875 7.6602-11.008 10.188zm-0.41016-39.898c2.8203 0.03125 5.6016 0.57812 8.0508 1.7891l-4.7383 9.4805c-0.51172-0.23828-1.0391-0.46094-1.5703-0.67188-2.0391-0.78906-4.1094-1.3281-6.2109-1.6484zm14.941 22.52c-1.4805-3.3398-4.0117-6.3594-7.3008-8.7305l4.4805-8.9609c0.42969 0.46875 0.85156 0.98047 1.2305 1.5312 3.1992 4.7695 3.3203 10.621 1.5898 16.16zm-20.84-21.891-4.0117 8.0117c-6.4414 0.23047-12.949 2.5391-19.059 6.7617 5.4805-7.1133 14.109-12.914 23.07-14.773z"/>
            </g>
           </svg>
        </div>
        <!-- Shooting stars HTML -->
        <div>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
         </div
      </section>
      <!-- Footer -->
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
            The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
            website content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
              >CC BY NC SA 4.0</a
            >.
          </p>
        </div>
      </footer>

  </body>
</html>