  <section class="section">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" placeholder="Enter your Username" id="username">
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <textarea class="textarea" placeholder="Enter your password" id="password"></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" id="loginBtn">Sign In</button>
      </div>
    </div>
  </section>